@media(max-width:767px) {

    /* Header Section */
    .counting-box {
        grid-template-columns: repeat(1, 1fr);
    }

    header h1 {
        font-size: 24px;
    }

    /* Header Section */
}