* {
    font-family: "Geist", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8FAFC;
    padding: 0px 12px;
}

/* Header Section */
header {
    max-width: 1110px;
    margin: 0 auto;
    padding: 60px 0px 30px;
}

header h1 {
    color: #002C5C;
    font-size: 32px;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 20px;
}

.counting-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #F1F2F4;
}

.box-title {
    color: #323B49;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 8px;
}

#allCount {
    color: #002C5C;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
}

#interviewCount {
    color: #10B981;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
}

#rejectedCount {
    color: #ff0000;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
}

/* Header Section */
hr {
    max-width: 1110px;
    margin: 0 auto;
    border: 1px solid #E6E7E9;
}